<!-- LOGICA EN EL FRONTEND PARA EL PAGINADOR -->

<ul class="pagination" *ngIf="numeroPaginas" style="overflow: scroll;">

    <li class="page-item" *ngIf="paginadorChild.number > 0">

        <a class="page-link" [routerLink]="['/clientes/page/', paginadorChild.number - 1]">&laquo;</a>

    </li>

    <li [ngClass]="paginadorChild.number === 0 ? 'disabled page-item' : 'page-item'">

        <a class="page-link" [routerLink]="['/clientes/page/', 0]">Primera</a>

    </li>

    <li class="page-item" *ngFor="let numeroPagina of paginas" [ngClass]="(numeroPagina-1) === paginadorChild.number ? 'active' : ''">

        <span class="page-link" *ngIf="(numeroPagina - 1) === paginadorChild.number">{{ numeroPagina }}</span>

        <a class="page-link" *ngIf="(numeroPagina - 1) !== paginadorChild.number" [routerLink]="['/clientes/page/', numeroPagina - 1]">{{ numeroPagina }}</a>

    </li>

    <li [ngClass]="paginadorChild.number === paginadorChild.totalPages - 1 ? 'disabled page-item' : 'page-item'">

        <a class="page-link" [routerLink]="['/clientes/page/', paginadorChild.totalPages - 1]">Ultima</a>

    </li>

    <li class="page-item" *ngIf="paginadorChild.number < paginadorChild.totalPages - 1">

        <a class="page-link" [routerLink]="['/clientes/page/', paginadorChild.number + 1]">&raquo;</a>

    </li>

</ul>