<ul class="alert alert-danger mt-3" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>


<div class="card bg-dark text-white mt-3">
    <div class="card-header">{{ titulo }}</div>

    <!-- FORMULARIO VALIDADO POR TEMPLATE -->
    <div class="card-body">
        <form autocomplete="off" #clienteForm="ngForm">
            <div class="form-group row mb-3">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="cliente.nombre">
                    <!-- required minlength="4" -->

                    <div class="alert alert-danger mt-1" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            Nombre Es Requerido
                        </div>
                        <div *ngIf="nombre.errors.minlength">
                            Nombre Debe Tener Como Minimo 4 Caracteres
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" #apellido="ngModel" name="apellido" [(ngModel)]="cliente.apellido">
                    <!-- required -->

                    <div class="alert alert-danger mt-1" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                        <div *ngIf="apellido.errors.required">
                            Apellido Es Requerido
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="email" class="col-form-label col-sm-2">Email</label>

                <div class="col-sm-6">
                    <input type="email" class="form-control" #email="ngModel" name="email" [(ngModel)]="cliente.email">
                    <!-- required email -->

                    <div class="alert alert-danger mt-1" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                            Email Es Requerido
                        </div>
                        <div *ngIf="email.errors.email">
                            Email Debe Tener Un Formato Válido
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button role="button" class="btn btn-primary" (click)="create()" *ngIf="!cliente.id else elseBlock">Crear</button>
                    <!-- [disabled]="!clienteForm.form.valid" -->

                    <ng-template #elseBlock>
                        <button role="button" class="btn btn-success" [disabled]="!clienteForm.form.valid" (click)="update()">Editar</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>